.formContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.InputParams{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 5px;
}
input[type=text] {
  width: 38%;
  border: 1px solid #ccc;
  border-radius: 1vw;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type=text]:focus {
  border: 1px solid #555;
}
::placeholder {
  color: green;
  font-size: 15px;
  font-weight: thin;
}
select{
  width: 15%;
  border: 1px solid #ccc;
  border-radius: 1vw;
  padding: 2vh 3.3vw;
  margin: 8px 0;
  font-weight: thin;
  font-size: 15px;
  color: green;
  box-sizing: border-box;
  background-color: white;
  cursor: pointer;
}

button[type=submit] {
  display: flex;
  align-self:center;
  width: 10%;
  background-color: #4CAF50;
  color: black;
  border: none;
  border-radius: 1vw;
  padding: 2vh 3.3vw;
  margin: 8px 0;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
button[type=submit]:hover {
  background-color: #45a049;
}
