.formContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  border-radius: 5px;
  border: 2px solid #ccc;
  box-sizing: border-box;
  box-shadow: 0 10px 5px rgba(0,0,0,0.12), 0 10px 5px rgba(0,0,0,0.24);
}

.InputParams{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 5px;
}
input[type=text] {
  width: 38%;
  border: 1px solid #ccc;
  border-radius: 1vw;
  margin: 2vh 0;
  padding: 2vh 0.6vw;
  color: #000;
  font-weight: 700;
  font-size: 1vw;
}
input[type=text]:focus {
   box-shadow: 0 0 10px #9ecaed;
}
::placeholder {
  color: #CACFD2;
  font-weight: 700;
}
select{
  width: 15%;
  border: 1px solid #ccc;
  border-radius: 1vw;
  margin: 2vh 0;
  padding: 2vh 0.6vw;
  background-color: white;
  color: #000;
  font-size: 1vw;
  font-weight: bold;
  font-family: none;
  cursor: pointer;
}

input[type=submit] {
  display: flex;
  align-self:center;
  justify-content: center;
  background-color: gainsboro;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 1vw;
  padding: 1.2vh 3.3vw;
  margin: 2vh 0;
  font-size: 1.2vw;
  font-weight: bold;
  font-family: none;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #a0bed0;
  transform: scale(1.2,1);
}


@media only screen and (max-width: 1200px) {
  .formContainer{
    width: -webkit-fill-available;
    padding-top: 1.5vh;
  }
  .InputParams{
    align-items: center;
    flex-direction: column;
}
input[type=text]{
    width: 80%;
    padding: 1vh 2vw;
    margin: 1.2vh 0;
    font-size: initial;
    font-weight: normal;
}
input[type=submit]{
    font-size: 5vw;
    font-weight: bold;
    width: 80%;
}
select{
    width: 35%;
    margin: 0;
    padding: 0.2vh 0.2vw;
    font-weight: 600;
    font-size: 3vw;
  }


}
